body {
    font-size: 18px;
}

.main {
    min-height: 100vh;
    padding-top: 5vh;
}

.App {
    width: 74%;
    margin: auto;
}

.Light {
    background: #f3f3f3;
}

.Dark {
    color: white;
    background: #1c2022;
}

.navbar {
    padding: 0;
}

.nav-item {
    font-size: 1.3rem;
    font-weight: bold;
    color: blueviolet;
}

.emoji {
    cursor: pointer;
    font-size: 1.6rem;
    margin: auto;
}

.nav a{
    margin-right: 15px;
}

.nav a:hover {
    text-decoration: none;
    color: black;
}

.popular-nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px auto;
    padding-left: 0;
}

.popular-nav li {
    display: inline;
    margin: 0 8px;
    font-weight: bold;
    font-size: 1.1rem;
    color: blueviolet;
    cursor: pointer;
}

.selected {
    color: #1e26f1 !important;
}

.popular-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
}

.repo-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    background: lightgray;
    padding: 20px;
    border-radius: 10px;
}

.bg-dark {
    background: rgb(36, 40, 42);
}

.repo-data {
    text-align: left;
}

.repo-card img {
    width: 166px;
}

.repo-card a{
    display: block;
    margin: 10px 0;
    font-weight: bold;
    font-size: 1rem;
}

.repo-card a:hover {
    text-decoration: none;
}

.repo-data p {
    margin-bottom: 5px;
    font-size: 1rem;
}

.fetching {
    font-size: 1.4rem;
    font-weight: bold;
    margin: auto;
}

.instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.instuct-svg {
    margin: 10px;
    width: 225px;
    height: 225px;
    padding: 24px;
    background: #e7e7e7;
}   

.instructions > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
}

.instructions > div h3 {
    font-size: 1.3rem;
    margin-bottom: 2px;
}

.input-players {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.input-players form {
    margin-top: 20px;
}

.Dark input, .Dark button {
    color: white; 
}

.Dark button:disabled {
    color: gray;
}

.input-players input, .input-players button {
    margin: auto;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1.2rem;
    background: inherit;
    margin-top: 10px;
}

.input-players input {
    margin-right: 5px;
    padding: 4px 6px;
    width: 260px;
}

.input-players input:focus {
    outline: none;
}

.input-players button {
    padding: 4px 12px;
    width: 85px;
}

.battle-players {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    width: 340px;
    padding: 7px 10px;
    font-size: 1.4rem;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.battle-players img {
    border-radius: 50%;
    height: 72px;
    margin-right: 12px;
}

.battle-players a:hover {
    text-decoration: none;
}

.battle-players > span {
    background: rgb(95, 95, 95);
    color: #fff;
    cursor: pointer;
    font-weight: bolder;
    font-size: 0.8rem;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
}

.lets-battle {
    display: flex;
    justify-content: center;
}

.lets-battle a{
    display: inline-block;
}

.lets-battle a:hover {
    text-decoration: none;
}

.battle-button {
    display: flex;
    padding: 2px 14px;
    margin: 20px auto;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1.3rem;
    background: inherit;
}

.battle-button:focus {
    outline: none;
}

.results {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
}

.player-card {
    display: flex;
    flex-direction: column;
    background: lightgray;
    padding: 35px 50px;
    border-radius: 10px;
    margin-top: 20px;
    width: 286px;
}

.player-result {
    text-align: center;
    margin-bottom: 16px;
    color: brown;
    font-weight: bolder;
}

.player-card img {
    width: 180px;
    margin-bottom: 5px;
}

.score {
    color: blue;
    font-weight: bolder;
    margin-top: 2px;
}

.score > span {
    color: #6b94c0;
}

.player-login {
    color: blueviolet;
    font-weight: bolder;
    font-size: 1.6rem;
    margin-top: 5px;
    margin-bottom: 12px;
}

.player-login:hover {
    text-decoration: none;
}

.player-card p {
    margin-bottom: 8px;
    font-size: 1.2rem;
}

.player-card svg {
    margin-right: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}

.footer a:hover {
    text-decoration: none;
}
